{% extends "layout" %}

{% from "_forms" import action_buttons %}

{% block title %}Edit alias{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Edit <em>{{ alias.source }}</em></h1>
  </div>

  {{ form_model(alias, {'route': ['aliases.update', alias.id], 'method': 'put', 'class': 'form-horizontal', 'role': 'form'}) }}

    {% include "aliases/_form" %}

    {{ action_buttons(route('aliases.index'), 'Save') }}

  {{ form_close() }}
{% endblock %}
