{% extends 'base' %}

{% block page_title %}{{ trans('pages.mailboxes.create.title') }}{% endblock %}

{% block title %}{{ trans('pages.mailboxes.create.title') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="box">
                <div class="box-header"></div>

                {{ form_open({'route': 'mailboxes.store', 'class': 'form-horizontal', 'autocomplete': 'off'}) }}
                    {% include 'mailboxes.form' %}
                {{ form_close() }}
            </div>
        </div>
    </div>
{% endblock %}
