{% extends "layout" %}

{% block title %}View mailbox{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>View mailbox: <em>{{ mailbox.email }}</em></h1>
  </div>

  <div class="row">
    <div class="col-md-12">TODO: Add content here</div>
  </div>
{% endblock %}
