{% extends 'base' %}

{% block page_title %}{{ trans('pages.aliases.edit.title') }}{% endblock %}

{% block title %}{{ trans('pages.aliases.edit.title') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="box">
                <div class="box-header"></div>

                {{ form_model(alias, {'route': ['aliases.update', alias.id], 'method': 'PUT', 'class': 'form-horizontal'}) }}
                    {% include 'aliases.form' %}
                {{ form_close() }}
            </div>
        </div>
    </div>
{% endblock %}
